[submodule "Core"]
	path = Core
	url = git@github.com:Helix-Track/Core.git
[submodule "Web-Client"]
	path = Web-Client
	url = git@github.com:Helix-Track/Web-Client.git
[submodule "Desktop-Client"]
	path = Desktop-Client
	url = git@github.com:Helix-Track/Desktop-Client.git
[submodule "Android-Client"]
	path = Android-Client
	url = git@github.com:Helix-Track/Android-Client.git
